
QLabel#MenuWidget {
    border: 2px groove @mainMenuBorderColor;
}

QLabel#MenuWidget:hover {
    background-color: @mainMenuHoverColor;
}

QLabel#MenuWidget:active {
    background-color: black;
}

QStackedWidget {
    border: 2px groove gray;
}